@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1621692642093") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-quote-left:before {
  content: "\e634";
}

.iconfont-quote-right:before {
  content: "\e635";
}

.iconfont-netease:before {
  content: "\e68a";
}

.iconfont-play-list-fill:before {
  content: "\ef58";
}

.iconfont-dir:before {
  content: "\e63a";
}
